:root {
  --color-primary: #49a6e9;
  --color-secondary: #767a89;
  --color-body: #f1f5f8;
  --color-grey: #102a42;
  --color-black: #222;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --letter-spacing: 1.6px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-grey);
  font-family: var(--font-primary);
  background: var(--color-body);
}
h1 {
  letter-spacing: var(--letter-spacing);
  margin: 0;
  text-transform: capitalize;
}

h1 {
  font-size: 4.8rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6.4rem;
  }
}
.value {
  font-size: 6rem;
}

main {
  display: grid;
  height: 100vh;
  place-items: center;
}
.container {
  text-align: center;
}
